<% 
  require 'nokogiri' 
  require 'sanitize'
%>
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>

  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Volkhov&display=swap" rel="stylesheet">   
  <%= stylesheet_link_tag 'css/font-awesome' %>
  <%= stylesheet_link_tag 'css/planetid' %>
  
  <!-- fix: use script_tag  rails-style ??? -->
  <script defer src='js/jquery-2.0.3.min.js'></script>
  <script defer src='js/planetid.js'></script>

  <%# = javascript_include_tag 'js/jquery-2.0.3.min.js' %>
  <%# = javascript_include_tag 'js/planetid.js' %>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  <script defer data-goatcounter="https://identosphere.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
<body>
<div class='banner'>
<table cellspacing='0' cellpadding='0' width='100%'>
  <tr>
    <td>
    <!-- left/1st column -->
    <a href="https://identosphere.net"><b>Blogs</b></a> | <a href="/organizations/">Organizations</a> | <a href="/companies/">Companies</a> | <a href="/media/">Media</a> • <a href="https://github.com/identosphere/planetid-reboot/">Github</a>
    </td>
    <td style='text-align:right;'>
    <!-- right/2nd column -->
    Style | <%= link_to '<b>Full</b>', "/" %> &bull; <%= link_to 'Overview', "overview.html" %>
    </td>
  </tr>
</table>
</div>
<div id='navwrap'>
<div id='nav'>

    <div style='width: 100%; text-align: right;'>
    <img src='i/view-headlines.png' id='show-headlines' title='Show Headlines Only' width='24' height='24'>
    <img src='i/view-snippets.png' id='show-snippets'    title='Show Snippets' width='24' height='24'>
    <img src='i/view-standard.png' id='show-fulltext'    title='Show Full Text' width='24' height='24'>
    </div>  

    <h4>Subscriptions</h4>
    <ul class='subscriptions small' >
     <% site.feeds.each do |feed| %>
      <li>
        <%= link_to( image_tag('i/feed-icon-10x10.png'), feed.feed_url ) %>
        <%= link_to feed.title, feed.url %>
      </li>
     <% end %>
    </ul>
<center>
    <p><small><strong>Inspired by</strong> identity management feed aggregator <em><a href="https://web.archive.org/web/20161029051802/http://planetidentity.org/">planetidentity.org</a></em>.</small></p>
    <h4>Add Your Feed</h4>
    <p><small>Send Blog \ Feed to:  <code>blogcatcher (at) identosphere (dot) net</code>.</small></p>
</center>

<h4>Built with</h4>
<ul class='planetarium small'>
  <li><a href='https://github.com/feedreader'>Pluto Feedreader</a></li>
  <li><a href="https://github.com/web-work-tools/awesome-planet-pluto#github-actions">GitHub Actions</a></li>
</ul>

</div>
</div>
<sup>Last Update <%= site.updated.strftime('%-I:%M %p %B %d, %Y') %> (UTC)</sup>
<iframe src="https://identosphere.substack.com/embed" width="400" height="267" style="border:1px solid #EEE; background:#f0f0f0;" frameborder="0" align="right" scrolling="no"></iframe>

<h1>Identity Blog Catcher</h1>

<p>Brought to you by <a href="https://identitywoman.net">Identity Woman</a> and <a href="https://github.com/infominer33">Infominer</a>.<br><a href="https://www.patreon.com/user?u=35769676">Support this collaboration on Patreon</a>!!!</p>

<%
   items = site.items.latest.limit(250)
   sorted = items.sort_by { |k| k["published"] }.reverse
   ItemCursor.new( sorted ).each do |item, new_date, new_feed|
%>

<% if new_date %>
 <h2 class='new-date'>
  <%= item.published.strftime('%A, %d. %B %Y') %>
 </h2>
<% else %>
  <hr class='item-seperator'>
<% end %>


<article class='item'>

<% if new_feed %>
<h4 class='feed-title'>
  <%= link_to item.feed.title, item.feed.url %>
</h4>
<% end %>

<h3 class='item-title'>
 <i class='icon-caret-down item-collapse item-close item-opened'></i>
 <i class='icon-caret-right item-expand item-open item-closed'></i>
<% if item.title %>
 <%= link_to item.title, item.url %>
<% else %>
  <% if item.summary %>  
    <% item.title = Sanitize.fragment(item.summary)[0..60] %>  
    <%= link_to item.title, item.url %>
  <% elsif item.content %>
    <% item.title = Sanitize.fragment(item.content)[0..60] %>
    <%= link_to item.title, item.url %>
  <% else %>
    <%= link_to "untitled", item.url %>
  <% end %>
<% end %>
</h3>

<div class='item-body'>

<div class='item-snippet'>
<!-- use 'smarter' algorithm for cutoff snippet text
   note: summary goes first; than try content -->
<% if item.summary %>
  <%= Sanitize.fragment( item.summary )[0..400] %>
  <% 
  doc = Nokogiri::HTML(item.summary)
  src = doc.css("img").attribute('src').to_s
  %> 
  <%# change http to https %>
  <% if src.include? "http:" %>
    <% src.sub!(/http:/,'https:') %>
  <% end %>
  <%# exclude items that don't have an image, or are profile image, or are otherwise not an image %>
  <% if src.blank? || src.include?("stat?event=post.clientViewed") || src.include?("profile.jpg") %>
  <% else %>
    <% if src.include?("https") %>
      <div class="preview">
        <%# send through optimizing cdn %>
        <%= image_tag("https://res.cloudinary.com/identosphere/image/fetch/q_auto:eco,f_auto,w_400/#{src}") %>
      </div>
    <% else %>
      <%# add base url to relative urls %>
      <%  asrc = URI.join(item.url, src).to_s %>
      <div class="preview">
        <%= image_tag("https://res.cloudinary.com/identosphere/image/fetch/q_auto:eco,f_auto,w_400/#{asrc}") %>
      </div>
    <% end %>
  <% end %>
<% elsif item.content %>
  <%= Sanitize.fragment( item.content )[0..400] %>
  <% 
  doc = Nokogiri::HTML(item.content)
  src = doc.css("img").attribute('src').to_s
  %> 
  <% if src.include? "http:" %>
    <% src.sub!(/http:/,'https:') %>
  <% end %>
  <% if src.blank? || src.include?("stat?event=post.clientViewed") || src.include?("profile.jpg") %>
  <% else %>
    <% if src.include?("https") %>
      <div class="preview">
        <%# send through optimizing cdn %>
        <%= image_tag("https://res.cloudinary.com/identosphere/image/fetch/q_auto:eco,f_auto,w_400/#{src}") %>
      </div>
    <% else %>
      <%# add base url to relative urls %>
      <%  asrc = URI.join(item.url, src).to_s %>
      <div class="preview">
        <%= image_tag("https://res.cloudinary.com/identosphere/image/fetch/q_auto:eco,f_auto,w_400/#{asrc}") %>
      </div>
    <% end %>
  <% end %>
<% else %>
  -/-
<% end %>
</div>
<div class='item-content item-summary'>

<!-- todo: use sanitize or simplify or whitelist
   - todo/fix: check why summary can be nil/null
   note: content goes first; than try summary
 -->
<div class='wrap'>
<% if item.content %>
<%= Sanitize.fragment(item.content,
  :elements => ['a','blockquote','code','br','p'],
  :attributes => {
    'a'          => ['href', 'title'],
    'blockquote' => ['cite'],
    },
  :protocols => {
    'a' => {'href' => ['http', 'https', 'mailto']}
  }) %>
  <% 
  doc = Nokogiri::HTML(item.content)
  src = doc.css("img").attribute('src').to_s
  %> 
  <% if src.include? "http:" %>
    <% src.sub!(/http:/,'https:') %>
  <% end %>
  <% if src.blank? || src.include?("stat?event=post.clientViewed") || src.include?("profile.jpg") %>
  <% else %>
    <% if src.include?("https") %>
      <div class="photo">
        <%# send through optimizing cdn %>
        <%= image_tag("https://res.cloudinary.com/identosphere/image/fetch/q_auto:eco,f_auto,w_800/#{src}") %>
      </div>
    <% else %>
      <%# add base url to relative urls %>
      <%  asrc = URI.join(item.url, src).to_s %>
      <div class="photo">
        <%= image_tag("https://res.cloudinary.com/identosphere/image/fetch/q_auto:eco,f_auto,w_800/#{asrc}") %>
      </div>
    <% end %>
  <% end %>
<% elsif item.summary %>
  <%= Sanitize.fragment(item.summary,
  :elements => ['a','blockquote','code','br','p'],
  :attributes => {
    'a'          => ['href', 'title'],
    'blockquote' => ['cite'],
    },
  :protocols => {
    'a' => {'href' => ['http', 'https', 'mailto']}
  }) %>
  <% 
  doc = Nokogiri::HTML(item.summary)
  src = doc.css("img").attribute('src').to_s
  %> 
  <% if src.include? "http:" %>
    <% src.sub!(/http:/,'https:') %>
  <% end %>
  <% if src.blank? || src.include?("stat?event=post.clientViewed") || src.include?("profile.jpg") %>
  <% else %>
    <% if src.include?("https") %>
      <div class="photo">
        <%# send through optimizing cdn %>
        <%= image_tag("https://res.cloudinary.com/identosphere/image/fetch/q_auto:eco,f_auto,w_800/#{src}") %>
      </div>
    <% else %>
      <%# add base url to relative urls %>
      <%  asrc = URI.join(item.url, src).to_s %>
      <div class="photo">
        <%= image_tag("https://res.cloudinary.com/identosphere/image/fetch/q_auto:eco,f_auto,w_800/#{asrc}") %>
      </div>
    <% end %>
  <% end %>
<% else %>
  -/-
<% end %>
</div>
</div>

<div class='item-footer'>
   <%= item.published.strftime('%H:%M') %> &bull;
   <%= time_ago_in_words( item.published ) %>
</div>

</div><!-- item-body -->

</article><!-- item -->

<% end %><!-- each item -->



</body>
</html>
